<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/stylesheets/addArticle.css" />
	<title><%= title %> </title>
</head>
<body>
	<div class="container">
		<div class="contact-box">
			<div class="left"></div>
			<div class="right">
				<h2>Add Article</h2>
				<form id="form">
				<input type="text" class="field" placeholder="Title" id="title" required minlength="5" maxlength="20">
				<input type="file" class="field" name="image" id="image" accept="image"/>
				<textarea placeholder="Text" class="field" id="text" required minlength="10"></textarea>
				<button type="submit" class="btn">Add</button>
			</form>
			</div>
		</div>
	</div>
</body>
<script src="/javascripts/addArticle.js"></script>
</html>